
/*  Colors scss ->  settings/colors 
$color-primary: #08A6E4;  colors.$color-primary;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$button-radius
*/
   /**
 * Form
 */

 @use "../../settings/colors";
 

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field:first-of-type {
  margin-bottom: 42px;
}

.form__label {
  font-weight: bold;
  text-transform: uppercase;
  color: colors.$color-primary; 
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}

.form__input {
  border: none;
  border-bottom: 1px solid colors.$color-grey; 
  background-color: transparent;
  line-height: 2.625rem;
}

.form__consent {
  margin-top: 30px;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: colors.$color-white; 
  border: 1px solid colors.$color-grey; 
}

.form__checkbox input:checked ~ .checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.form__checkbox .consent__text {
  margin: 0 10px;
  font-size: 0.75rem;
  color: colors.$color-grey; ;
  line-height: 17px;
}

.form .btn {
  font-size: 0.8125rem;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
}

