/* HTML
<!-- header -->
    <header class="header">
        <div class="header__container container">
            <a href="#" class="logo">BestShop</a>
            <nav>
                <ul class="header__nav">
                    <li class="nav__element"><a href="#why-us" class="nav__link">Why us</a></li>
                    <li class="nav__element"><a href="#benefits" class="nav__link">Benefits</a></li>
                    <li class="nav__element"><a href="#prices" class="nav__link">Prices</a></li>
                    <li class="nav__element"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
<!-- e: header -->
*/
/*  header */
/*  Colors scss ->  settings/colors 
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$button-radius
$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
*/
@use "../../settings/colors";

.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}
.nav__element .nav__link{
    color: colors.$color-grey;
    
}
li {
  display: inline;
  margin-right: 2px;
}


.header .nav {
    display: flex;
    flex-direction: row;
    color: colors.$color-grey;
}

.header .header__container {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    flex-direction: row;
    
}
.header .header__container .logo {
    
}
/*  header */
