/* HTML
<!-- header -->
    <header class="header">
        <div class="header__container container">
            <a href="#" class="logo">BestShop</a>
            <nav>
                <ul class="header__nav">
                    <li class="nav__element"><a href="#why-us" class="nav__link">Why us</a></li>
                    <li class="nav__element"><a href="#benefits" class="nav__link">Benefits</a></li>
                    <li class="nav__element"><a href="#prices" class="nav__link">Prices</a></li>
                    <li class="nav__element"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
<!-- e: header -->
*/
/*  header */
.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    
}

.header .nav {
    display: flex;
    /* flex-direction: column;
    justify-content: center;  */
    
}
.header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
.header .header__container .logo {
    
}
/*  header */
/*  header nav */


ul .header__nav {
    display: flex;
}
ul .header__nav .nav__element {
    padding: 0 26px;
}
.nav__element:last-child {
    padding: 0 26px;
}
.nav__link {
    color: var(--color-black);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}