/*  header nav */

ul .header__nav {
    display: flex;
}
ul .header__nav .nav__element {
    padding: 0 26px;
}
.nav__element:last-child {
    padding: 0 26px;
}
.nav__link {
    color: var(--color-black);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}