@use "../variables/general";

@mixin desktop() {
  @media #{general.$desktop} {
    @content;
  }
}

@mixin tablet-portrait() {
  @media #{general.$tablet-portrait} {
    @content;
  }
}

@mixin tablet() {
  @media #{general.$tablet} {
    @content;
  }
}

@mixin mobile() {
  @media #{general.$mobile} {
    @content;
  }
}

@mixin button(){
    border: 1px solid black;
    margin: 1px;
    padding: 0;
    list-style: none;
}