/*   main.scss  */ 
@use "generic/reset";
@use "settings/colors";
@use "variables/general";
@use "layout/common/grid";
@use "mixins/mixins";
@use "layout/common/buttons";
@use "layout/common/page";
@use "layout/header/header";
@use "layout/header/logo";
@use "layout/header/nav";
@use "layout/main/main";
@use "layout/footer/footer";
@use "layout/footer/form";
@use "layout/sections/opening";
@use "layout/sections/pricing";
@use "layout/sections/statistics";
@use "layout/sections/benefits";
@use "layout/sections/contact";


/* @use 'scss-reset/_reset' as *;  */
/* @use 'layout/common/grid';
@use 'layout/common/page';   */
/*  Colors scss ->  settings/colors 
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$button-radius
*/