   /*     <!-- section opening-->
        <section class="opening">
            <div class="opening__content">
                <h1 class="opening__header">Sell More!</h1>
                <p class="opening__heading">Open shop on our platform and increase your sales</p>
                <a href="#" class="btn btn--primary btn--large">Open your shop</a>
            </div>
            <img src="assets/Background.png" alt="" class="opening__image">
        </section>
        <!-- e: section opening-->
*/

