@use "../../variables/general";
@use "../../mixins/mixins";
@use "../../settings/colors";
@use "../../settings/index";
/* buttons  btn  
/*  Colors scss ->  settings/colors 
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$button-radius
*/
.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: index.$button-radius;
  background-color: colors.$color-primary;
  border: none;
}

.btn--primary {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  background-color: colors.$color-primary;
  border-radius: index.$button-radius;
  box-shadow: 3px 10px 14px colors.$color-primary-shadow;
}

.btn--redish {
  background-color: colors.$color-redish;
}

.btn--green {
  background-color: colors.$color-green;
  border-radius: index.$button-radius;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border: none;
}

.btn--large {
  padding: 22px 155px;
}
/* e: buttons  btn  */
