@use "../../variables/general";
@use "../../settings/colors";
@use "../../settings/fonts";
@use "../../settings/index";
@use "../../mixins/mixins";
@use "../common/typography";
@use "../header/header";
@use "../header/logo";
@use "../banner/banner";
@use "../common/buttons";
@use "../common/common";
@use "../blog/blog";
@use "../main/main";
@use "../footer/footer";
body {
  font-family: general.$primary-font ;
  background-color: general.$background-color;
  font-size: 11pt;
  @include mixins.mobile() { font-size: 5pt; }
  @include mixins.tablet-portrait() { font-size: 7pt; }
  @include mixins.tablet() { font-size: 9pt; }
}

.section { padding: 50px 0; }
/*  zgoraj stara koda*/

body {
  font-family: var(--font-open-sans);
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-family: var(--font-raleway);
  font-size: 2em; /* 2.25rem  36px */
}


/**
 * kontejner
 */
.container {
  width: 1352px;
  margin: 0 auto;
}