@use "../../variables/general";
@use "../../settings/colors";
@use "../../settings/fonts";
@use "../../settings/index";
@use "../../mixins/mixins";

@use "../header/header";
@use "../header/logo";

@use "../common/buttons";


@use "../main/main";
@use "../footer/footer";


body {
  font-family: var(--font-open-sans);
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-family: var(--font-raleway);
  font-size: 2em; /* 2.25rem  36px */
}


/**
 * kontejner
 */
.container {
  width: 1352px;
  margin: 0 auto;
}