@use "../../mobile/general";


body {

}


h1 {

}

h2 {

}

div {

}

nav {

} 

img { border-radius: 10px;}
  
p { line-height: 2.5em; margin-bottom: 20px; color: general.$text-color;}

a { color: general.$secondary-color; }
