        /* <!-- section statistics-->
        <section class="statistics">
            <div class="container">
                <h2 class="statistics__title">The most popular sales platform in country</h2>
                <div class="statistics__container">
                    <div class="statistics__single">
                        <div class="statistics__circle">
                            <img src="assets/Person.svg" alt="person" class="statistics__img" />
                        </div>
                        <div class="statistics__number">100000+</div>
                        <div class="statistics__description">daily entries</div>
                    </div>

                    <div class="statistics__single">
                        <div class="statistics__circle">
                            <img src="assets/Eye.svg" alt="person" class="statistics__img" />
                        </div>
                        <div class="statistics__number">2000000+</div>
                        <div class="statistics__description">seen products<br>every day</div>
                    </div>

                    <div class="statistics__single">
                        <div class="statistics__circle">
                            <img src="assets/Catalog.svg" alt="person" class="statistics__img" />
                        </div>
                        <div class="statistics__number">10000+</div>
                        <div class="statistics__description">added posts<br>daily</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- e: section statistics-->
        */