$desktop: "only screen and (min-width: 1201px)";
$tablet: "only screen and (min-width: 981px) and (max-width: 1200px)";
$tablet-portrait: "only screen and (min-width: 1px) and (max-width: 980px)";
$mobile: "only screen and (max-width: 650px)";

/*  Colors scss ->  settings/colors 
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$button-radius
*/