/*  
        <!-- section benefits-->
        <section class="benefits">
            <div class="benefits__container container">
                <div class="benefits__single benefits__single--notebook">
                    <div class="benefits__text">
                        <h2 class="benefits__title">Be always first</h2>
                        <p class="benefits__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam.
                        </p>
                    </div>
                    <div class="benefits__image">
                        <img src="assets/Macbook.png" alt="macbook" />
                    </div>
                </div>

                <div class="benefits__single benefits__single--phone">
                    <div class="benefits__text">
                        <h2 class="benefits__title">Your shop is<br>where you are!</h2>
                        <p class="benefits__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam.
                        </p>
                    </div>
                    <div class="benefits__image">
                        <img src="assets/iPhone.png" alt="iPhone" />
                    </div>
                </div>

                <div class="benefits__double">
                    <div class="benefits__single benefits__single--solo">
                        <div class="benefits__text">
                            <h2 class="benefits__title">Your shop is<br>where you are!</h2>
                            <p class="benefits__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam.
                            </p>
                        </div>
                    </div>

                    <div class="benefits__single benefits__single--image">
                        <img src="assets/Trumpet.png" alt="Trumpet" />
                    </div>
                </div>

            </div>
        </section>
        <!-- e: section benefits-->
*/



.benefits {
    display:flex;
    /*flex-direction: column; */
}

.benefits__container {
  padding: 0 100px;
}

.benefits__single {
  background-color: var(--color-white);
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 37px;
  border-radius: 5px;
}

.benefits__text {
  box-sizing: content-box;
  max-width: 415px;
  margin: 90px 36px;
}

.benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 50px;
}

.benefits__description {
  margin-top: 30px;
  line-height: 1.375rem;
}

.benefits__image {
  position: relative;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__single--notebook {
  --accent-color: var(--color-redish);
}

.benefits__single--notebook .benefits__image {
  margin-right: 117px;
  margin-bottom: 38px;
}
.benefits__single--notebook .benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image img {
  width: 386px;
  height: auto;
  position: relative;
  z-index: 2;
}


.benefits__single--phone {
  --accent-color: var(--color-primary);
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

.benefits__single--phone .benefits__image::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
}

.benefits__single--phone .benefits__image img {
  width: 426px;
  height: auto;
}

.benefits__single--phone .benefits__text {
  margin: 70px 0;
}

.benefits__double {
  --accent-color: var(--color-green);
  display: flex;
}

.benefits__double > div {
  margin-bottom: 0;
}

.benefits__single--solo {
  max-width: 620px;
}
.benefits__single--solo {
  max-width: 620px;
}

.benefits__single--solo .benefits__text {
  max-width: none;
  margin: 70px 35px;
}
.benefits__single--image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: none;
  margin-left: 60px;
}

.benefits__single--image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}