/* <!-- section contact -->
        <section class="contact container" id="contact">
            <div class="contact__column">
                <h2 class="contact__title">Any questions?</h2>
                <p class="contact__instruction">
                    Leave your email address or contact us!
                </p>
                <div class="contact__details">
                    <a href="mailto:info@bestshop.xyz" class="details__item">
                        <img src="assets/Mail%20Icon.svg" alt="mail" />
                        info@bestshop.xyz
                    </a>

                    <a href="tel:123456789" class="details__item">
                        <img src="assets/Phone%20Icon.svg" alt="phone" />
                        123 456 789
                    </a>
                </div>
            </div>

            <div class="contact__column">
                <form class="form">
                    <div class="form__field">
                        <label class="form__label" for="name">Name</label>
                        <input type="text" class="form__input name" id="name" />
                    </div>

                    <div class="form__field">
                        <label class="form__label" for="email">E-mail</label>
                        <input type="email" class="form__input email" id="email" />
                    </div>

                    <div class="form__consent">
                        <label class="form__checkbox">
                            <input type="checkbox" />
                            <span class="checkbox"></span>
                            <p class="consent__text">
                                I hereby give consent for my personal data included in my
                                application to be processed for the purposes of the recruitment
                                process under the European Parliament's and Council of the
                                European Union Regulation on the Protection of Natural Persons as
                                of 27 April 2016, with regard to the processing of personal data
                                and on the free movement of such data, and repealing Directive
                                95/46/EC (Data Protection Directive)
                            </p>
                        </label>
                    </div>
                    <button type="submit" class="btn btn--primary">Send</button>
                </form>
            </div>
        </section>
        <!-- e: section contact -->
        */
/*  Colors scss ->  settings/colors 
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$button-radius
$font-open-sans: 
*/
@use "../../settings/colors";

.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
}

.contact container {
    display:flex;
    flex-direction: column;
}

.contact__column {
  width: 50%;
}

.contact__title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}

.contact__instruction {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem;
}

.contact__details {
  display: flex;
  justify-content: flex-start;
  color: colors.$color-grey; 
  align-items: center;
}

.details__item {
  color: colors.$color-grey;
  font-weight: 500;
  text-decoration: none;
}

.details__item:first-of-type {
  margin-right: 20px;
}

.details__item img {
  margin-right: 10px;
}

