   /*     <!-- section opening-->
        <section class="opening">
            <div class="opening__content">
                <h1 class="opening__header">Sell More!</h1>
                <p class="opening__heading">Open shop on our platform and increase your sales</p>
                <a href="#" class="btn btn--primary btn--large">Open your shop</a>
            </div>
            <img src="assets/Background.png" alt="" class="opening__image">
        </section>
        <!-- e: section opening-->
*/

/*  header */

/*  opening */
.opening {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.opening .opening__content {
    margin-top: 130px;
    text-align: center;
}
.opening .opening__content .opening__header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}

.opening__heading {
  margin-top: 20px;
  margin-bottom: 38px;
}

.opening__image {
  width: 100%;
  height: auto;
}
