      /* <!-- section pricing-->
        <section class="pricing container" id="prices">
            <h2>Pricing</h2>
            <div class="pricing__boxes">
                <div class="pricing__box pricing__box--basic">
                    <div class="pricing__details">
                        <div class="pricing__type">Basic</div>
                        <div class="pricing__price">$0</div>
                    </div>
                    <ul class="pricing__items">
                        <li class="pricing__item">100 MB HDD</li>
                        <li class="pricing__item">1 Subdomain</li>
                        <li class="pricing__item">2 E-mails</li>
                        <li class="pricing__item pricing__item--not">Two years license</li>
                        <li class="pricing__item pricing__item--not">Full support</li>
                    </ul>
                    <a href="#" class="btn">Begin</a>
                </div>

                <div class="pricing__box pricing__box--professional">
                    <div class="pricing__details">
                        <div class="pricing__type">Professional</div>
                        <div class="pricing__price">$25</div>
                        <div class="pricing__limited">Limited offer</div>
                    </div>
                    <ul class="pricing__items">
                        <li class="pricing__item">500 MB HDD</li>
                        <li class="pricing__item">2 Subdomain</li>
                        <li class="pricing__item">5 E-mails</li>
                        <li class="pricing__item">One years license</li>
                        <li class="pricing__item pricing__item--not">Full support</li>
                    </ul>
                    <a href="#" class="btn btn--primary">Begin</a>
                </div>

                <div class="pricing__box pricing__box--premium">
                    <div class="pricing__details">
                        <div class="pricing__type">Premium</div>
                        <div class="pricing__price">$60</div>
                        <div class="pricing__limited">Limited offer</div>
                    </div>
                    <ul class="pricing__items">
                        <li class="pricing__item">2 GB HDD</li>
                        <li class="pricing__item">5 Subdomain</li>
                        <li class="pricing__item">20 E-mails</li>
                        <li class="pricing__item">Two years license</li>
                        <li class="pricing__item">Full support</li>
                    </ul>
                    <a href="#" class="btn">Begin</a>
                </div>
            </div>
        </section>
        <!-- e: section pricing-->
        */
.pricing {
    display:flex;
    flex-direction: column;
}

.pricing  .pricing__boxes {
    
}
.pricing__box .pricing__box--basic {
    
}
.pricing__box .pricing__box--professional {
    
}
.pricing__box .pricing__box--premium {
    
}
.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
}
.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__type {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__price {
  font-size: 2.875rem;
  font-family: var(--font-open-sans);
  font-weight: 300;
  margin-top: 25px;
  color: var(--accent-color);
}

.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__items {
  text-align: center;
}

.pricing__item {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Checkmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../assets/Close.svg");
}

.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  background-color: var(--accent-color);
}

/*** Basic Box ***/
.pricing__box--basic {
 --accent-color: var(--color-redish);
}

.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
}


/*** Professional Box **/
.pricing__box--professional {
  --accent-color: var(--color-primary);
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

/*** Premium Box ***/
.pricing__box--premium {
  --accent-color: var(--color-green);
}