        /* <!-- section statistics-->
        <section class="statistics">
            <div class="container">
                <h2 class="statistics__title">The most popular sales platform in country</h2>
                <div class="statistics__container">
                    <div class="statistics__single">
                        <div class="statistics__circle">
                            <img src="assets/Person.svg" alt="person" class="statistics__img" />
                        </div>
                        <div class="statistics__number">100000+</div>
                        <div class="statistics__description">daily entries</div>
                    </div>

                    <div class="statistics__single">
                        <div class="statistics__circle">
                            <img src="assets/Eye.svg" alt="person" class="statistics__img" />
                        </div>
                        <div class="statistics__number">2000000+</div>
                        <div class="statistics__description">seen products<br>every day</div>
                    </div>

                    <div class="statistics__single">
                        <div class="statistics__circle">
                            <img src="assets/Catalog.svg" alt="person" class="statistics__img" />
                        </div>
                        <div class="statistics__number">10000+</div>
                        <div class="statistics__description">added posts<br>daily</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- e: section statistics-->
        */
/*  statistics    colors.$color-redish;  colors.$color-primary; colors.$color-green;
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
colors.$color-green;  #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;

fonts.$font-raleway;  "Raleway", sans-serif;

*/

@use "../../settings/fonts";
@use "../../settings/colors";

.statistics {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    
}
.statistics .title {
    text-align: center;
}
.statistics .container {
    max-width: 800px;
    margin: 100px auto 120px;
    justify-content: space-between;
}

.statistics__container .statistics__single {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-start;
  /*text-align: center;  */
  font-family: fonts.$font-raleway;
}
.statistics__circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
}
.statistics__container .statistics__single .statistics__circle {
    /* */
}

.statistics__img {
  position: absolute;
}

.statistics__single:nth-child(1) .statistics__circle {
  background-color: colors.$color-redish; 
}
.statistics__single:nth-child(2) .statistics__circle {
  /**/
}
.statistics__single:nth-child(3) .statistics__circle {
  /**/
}
.statistics__single:nth-child(1) .statistics__img {
  top: 0;
  left: 45%;
}

.statistics__single:nth-child(2) .statistics__circle {
  background-color: colors.$color-primary;
}

.statistics__single:nth-child(2) .statistics__img {
  top: 14px;
  left: 47%;
}

.statistics__single:nth-child(3) .statistics__circle {
  background-color: colors.$color-green;
}

.statistics__single:nth-child(3) .statistics__img {
  top: 6px;
  left: 50%;
}
.statistics__number {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.1875rem;
  margin-top: 13px;
}

.statistics__description {
  color: colors.$color-grey;  
  margin-top: 19px;
}
