/*  
        <!-- section benefits-->
        <section class="benefits">
            <div class="benefits__container container">
                <div class="benefits__single benefits__single--notebook">
                    <div class="benefits__text">
                        <h2 class="benefits__title">Be always first</h2>
                        <p class="benefits__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam.
                        </p>
                    </div>
                    <div class="benefits__image">
                        <img src="assets/Macbook.png" alt="macbook" />
                    </div>
                </div>

                <div class="benefits__single benefits__single--phone">
                    <div class="benefits__text">
                        <h2 class="benefits__title">Your shop is<br>where you are!</h2>
                        <p class="benefits__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            enim ad minim veniam.
                        </p>
                    </div>
                    <div class="benefits__image">
                        <img src="assets/iPhone.png" alt="iPhone" />
                    </div>
                </div>

                <div class="benefits__double">
                    <div class="benefits__single benefits__single--solo">
                        <div class="benefits__text">
                            <h2 class="benefits__title">Your shop is<br>where you are!</h2>
                            <p class="benefits__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam.
                            </p>
                        </div>
                    </div>

                    <div class="benefits__single benefits__single--image">
                        <img src="assets/Trumpet.png" alt="Trumpet" />
                    </div>
                </div>

            </div>
        </section>
        <!-- e: section benefits-->
*/